version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      day: "monday"
      time: "09:00"
      interval: "weekly"
      timezone: "Europe/Helsinki"
    open-pull-requests-limit: 10
    labels:
      - "automated"
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      development-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
    versioning-strategy: increase

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      day: "monday"
      time: "09:00"
      interval: "weekly"
      timezone: "Europe/Helsinki"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "ci"
      include: "scope"
