image: node:20

pipelines:
  custom:
    localeops-extract:
      - variables:
          - name: LOCALE
          - name: CALLBACK_URL
      
      - step:
          name: Extract untranslated strings
          oidc: true
          caches:
            - node
          script:
            - npm i -g @localeops/localeops
            - export TOKEN="${BITBUCKET_TOKEN}"
            - localeops extract "${LOCALE}" "${CALLBACK_URL}"

    localeops-apply:
      - variables:
          - name: LOCALE
          - name: TRANSLATIONS
      - step:
          name: Apply translations
          oidc: true
          caches:
            - node
          script:
            - git config user.name "Bitbucket Pipelines"
            - git config user.email "pipelines@bitbucket.org"
            - npm i -g @localeops/localeops
            - export TOKEN="${BITBUCKET_TOKEN}"
            - localeops apply "${LOCALE}" "${TRANSLATIONS}"